@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* This will only affect elements with the 'custom-scrollbar' class */
.custom-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.custom-scrollbar {
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
}

/* Base styles for message bubbles */
.message-bubble {
    padding: 10px 20px;
    border-radius: 18px;
    margin: 5px;
    max-width: fit-content;
    word-break: break-word;
    display: block; /* ensures it doesn't line up side by side */
}

/* Outgoing message bubbles */
.outgoing-message {
    background-color: #DCF8C6; /* Light green background for outgoing messages */
    margin-left: auto; /* Align to right */
    text-align: right;
}

/* Incoming message bubbles */
.incoming-message {
    background-color: #ECECEC; /* Light grey background for incoming messages */
    margin-right: auto; /* Align to left */
    text-align: left;
}


/* styles.css (or your stylesheet) */
.pulse-dot {
    position: relative;
    display: inline-block;
  }
  
  .pulse-dot::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px; /* Adjust the size of the dot as needed */
    height: 10px; /* Adjust the size of the dot as needed */
    background-color: red;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  

